.container-xl{
    padding-top: 61px;
}
.step-progress{
    display: flex;
    justify-content: center;
}

.information, .confirm-order{
    width: 200px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;

}
.confirm-cart{
    width: 35px;
}
.step1, .step2, .step3{
    width: 35px;
    height: 35px;
    background-color: rgb(168, 164, 160);
    border-radius: 35px;
    color: white;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s;
    transition-delay: .6s;
    &::after{
        width: 100px;
        position: absolute;
        bottom: -40px;
        text-align: center;
        color: $dark;
        display: inline-block;
    }
}
.step1{
    &::after{
        content: '購物車';
    }
}
.step2{
    &::after{
        content: '填寫資料';
    }
}
.step3{
    &::after{
        content: '訂單確認';
    }
}
.progress-line{
    flex-grow: 1;
    background-color: rgb(168, 164, 160);
    height: 2px;
    position: relative;
    &::before{
        content: '';
        width: 100%;
        height: 100%;
        background-color: $primary;
        position: absolute;
        bottom: 0;
        left: 0;
        transform: scaleX(0);
        transform-origin: left;
        transition: .5s;
    }
}
.active{
    .step1, .step2, .step3{
        background-color: $primary;
    }
    .progress-line{
        &::before{
            transform: scaleX(100%);
        }
    }
}

.btn--left{
    display: inline-block;
    padding: 10px 0;
    text-align: center;
    flex: 1;
    max-width: 300px;
    background-color: transparent;
    color: $primary;
    border-radius: 50px;
    border: 1.5px solid $primary;
}
.btn--right{
    display: inline-block;
    padding: 10px 0;
    text-align: center;
    flex: 1;
    max-width: 300px;
    background-color: $primary;
    color: white;
    border-radius: 50px;
   
    margin-left: auto;
}