.add-coupon{
    display: flex;
    justify-content: flex-end;
    i{
        -webkit-text-stroke: 0.2px;
    }
}
.add-coupon-btn{
    width: 150px;
}
.thead{
    border-bottom: 1.5px solid $primary;
}
.th, .td{
    padding: 1rem;
}


//add-coupon-modal
.add-coupon-modal{
    position: fixed;
    inset: 0;
    margin:  auto;
    border-radius: 10px;
    width: fit-content;
    height: fit-content;
    background-color: white;
}
.modal-footer{
    border-top: 1.5px solid $secondary;
}
.cancel-btn, .save-btn{
    width: 80px;
}