.productManage__content{
    width: 100%;
    overflow-y: scroll;
    flex-grow: 1;
    padding: 2rem;
}
.product-info{
    padding-right: 1rem;
    display: flex;
    flex-wrap: wrap;
}
.product-image{
    padding-left: 1rem;
}
.category{
    height: 30px;
}
.input-file{
    display: none;
}
.upload-img{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1.5px dashed $primary;
    border-radius: 5px;
    width: 100px;
    height: 100px;
    margin-right: 10px;
    cursor: pointer;
    .icon{
        color: $primary;
        font-size: 30px;
    }
    span{
        font-size: 14px;
        color: $primary;
    }
}

.images-group{
    display: flex;
    flex-wrap: wrap;
}
.image{
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    height: 100px;
    width: 100px;
    margin-right: 20px;
    &:hover{
       .overlay{
            background-color: rgb(255, 255, 255, 0.3);
            backdrop-filter: blur(5px); 
       }
       .delete-btn{
            visibility: visible;
            opacity: 1;
       }
    }
}
.uploading{
    position: relative;
    height: 100px;
    width: 100px;
    margin: 0 10px;
    border-radius: 5px;
}
.loading-overlay{
    position: absolute;
    inset: 0;
}

.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255, 0);
}
.delete-btn{
    position: absolute;
    height: 25px;
    width: 25px;
    inset: 0;
    margin: auto;
    visibility: hidden;
    opacity: 0;
}
.overlay, .delete-btn{
    transition: .2s;
}

.product-qty{
    flex: 1;
}
.product-ingredient, .product-usage, .notes, 
.product-preservation{
    padding-left: 1rem;
}
.product-description, .product-use, .order-notification{
    padding-right: 1rem;
}
.product-info, .product-image, .product-description, 
.product-ingredient, .product-use, .product-usage,
.order-notification, .notes, .product-preservation{
    width: 50%;
}
.toggle{
    width: 80px;
    height: 34px;
    position: relative;
    border-radius: 30px;
    display: flex;
    align-items: center;
    transition: 0.3s cubic-bezier(0,.08,.2,1);     
}
.toggle.enable{
    background-color: $primary;
    .toggle--enable{
        opacity: 1;
        transform: translateY(0);
        transition-delay: 0.3s;
    }
    .toggle-btn{
        transform: translateX(47px);
    }
}
.toggle.disable{
    background-color: rgb(188, 188, 188);
    .toggle--disable{
        opacity: 1;
        transform: translateY(0);
        transition-delay: 0.3s;
    }
    .toggle-btn{
        transform: translateX(0px);
    }
}
.toggle-btn{
    height: 25px;
    width: 25px;
    border-radius: 25px;
    background-color: $light;
    transition: 0.3s cubic-bezier(0,.08,.2,1); 
    z-index: 1;
}


.toggle--enable{
    position: absolute;
    left: 10px;
    color: $light;
    opacity: 0;
    transform: translateY(5px);
    transition: 0.3s;
}
.toggle--disable{
    position: absolute;
    right: 10px;
    opacity: 0;
    transform: translateY(5px);
    transition: 0.3s;
}
.filter-label--skin-type{
    display: flex;
    flex-wrap: wrap;
}
.filter-label__input{
    flex: 1;
    margin-right: 1rem;
}

.productManage__bottom{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: $light;
    height: 125px;
    box-shadow: 0px 0px 7px rgba(90, 70, 62, 0.5);
}
.cancel-btn, .save-btn{
    width: 100px;
    height: 40px;
    margin-right: 2rem;
}