.btn--primary{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border: 1.5px solid $primary;
    border-radius: 3px;
    background-color: $primary;
    transition: 0.2s ease-in;
    .btn__text, .icon{
        color: white;
        transition: 0.2s ease-in;
    }
    &:active{
        background-color: transparent;
        color: $primary;
    }
}

.btn--secondary{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border: 1.5px solid $primary;
    border-radius: 3px;
    background-color: transparent;
    transition: 0.2s ease-in;
    .btn__text, .icon{
        color: $primary;
        transition: 0.2s ease-in;
    }
    &:active{
        background-color: $primary;
        color: white;
    }
}

.btn__text{
    display: flex;
    align-items: center;
    height: 22px;
}
.disable{
    pointer-events: none;
    cursor: not-allowed;
    background-color: rgb(184, 184, 184);
    border: 1.5px solid rgb(184, 184, 184);
    .btn__text, .icon{
        color: white;
    }
}

@media (hover: hover){
    .btn--primary:hover{
        background-color: transparent;
        .btn__text, .icon{
            color: $primary;
        }
    }
    .btn--secondary:hover{
        background-color: $primary;
        .btn__text, .icon{
            color: white;
        }
    }
}