.icon-btn{
    padding: 0;
    border: none;
    background-color: transparent;
    i{
        display: flex;
        color: $dark;
        transition: 0.25s;
        &:hover{
            color: $primary;
        }
    }
}
