
// scss-docs-start theme-color-variables
$primary:       rgb(107, 140, 131);
$secondary:     rgb(215, 192, 166);
$danger:        rgb(196, 85, 85);
$info:          rgb(124, 111, 107);
$light:         rgb(241, 236, 228);
$dark:          rgba(90, 70, 62, 1);

$nav-link-font-weight:         1.5rem;
$navbar-light-color:           $dark;
$navbar-light-hover-color:     $primary;

$btn-border-width:             2px;
$btn-font-weight:              500;
$btn-padding-y-lg:             0.375rem;
