@mixin icon-size($width-value,$font-size-value,$position-value){
    width: $width-value;
    font-size: $font-size-value;
    position: $position-value;
}
.notice{
    background-color: $primary;
    padding: 5px 0;
    width: 100%;
    color: white;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
}
.navbar{
    transition: 0.5s;
    top: 0;
    position: sticky;
    width: 100%;
    z-index: 100;
}
.scrolled{
    background-color: $light;
    box-shadow: 1px 1px 7px rgb(0, 0, 0,0.25);
}
.logo-link{
    display: flex;
    align-items: center;
}
.logo-img{
    width: auto;
    height: 35px;
}
.header-menu--right{
    justify-content: end;

}
.navbar-nav{
    flex-direction: row;
}
.header-hamburger-menu{
    display: none;
   
}
.hamburger-icon{
    position: relative;
    button{
        border: none;
        display: flex;
        justify-content: center;
        width: 40px;
        height: 40px;
        i{
            @include icon-size(24px, 30px, relative);
            height: 24px;
            display: flex;
            justify-content: center;
            margin: auto;
            &::before{
                position: relative;
                bottom: 2.5px;
            }
        }
    }
}
.search-icon button{
    display: flex;
    justify-content: center;
    height: 40px;  
    i{
        @include icon-size(24px,22px,relative);
        height: 24px;
        -webkit-text-stroke: 0.25px;
    }
    i::before{
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
    }
}

.wish-icon button{
    display: flex;
    justify-content: center;
    height: 40px;  
    i{
        @include icon-size(24px,24px,relative);
        height: 24px;
        -webkit-text-stroke: 0.15px;
    }
    i::before{
        position: absolute;
        bottom: -1px;
        left: 0;
        right: 0;
    }
}
.login-icon a{
    display: inline-flex;
    vertical-align: middle;
    height: 40px; 
    i{
        @include icon-size(24px,27px,relative);
    } 
    i::before{
        position: relative;
        bottom: 7px;
        right: 1px;
        margin: 0 auto;
    }
}

.header-sidebar-menu{
    width: 100%;
    height: 100dvh;
    background-color: $light;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    padding-bottom: 0;
    opacity: 0;
    transform: translateX(-100%);
    transition: 0.4s cubic-bezier(.28,.97,.92,.98);
    .btn--close{
        position: absolute;
        top: 0;
        margin: 10px 24px;
    }
}
.sidebar-menu--active{
    opacity: 1;
    transform: translateX(0);
}
.menu__close-btn{
    font-size: 26px;
    align-self: flex-start;
}
.close-btn__icon{
    -webkit-text-stroke: 0.2px;
}
.menu__search{
    border: 2px solid $primary;
    width: 100%;
    height: 40px;
    border-radius: 30px;
    position: relative;
    display: flex;
    i{
        width: 36px;
        height: 100%;
        font-size: 20px;
        -webkit-text-stroke: 0.3px;
        color: $dark;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    input{
        outline: none;
        border: none;
        background-color: transparent;
        width: 100%;
    }
}
.product-icon{
    @include icon-size(24px,22px,relative);
}
.menu__link-product,.menu__link-wishlist,
.menu__link-login{
        display: flex;
        position: relative;
        align-items: center;
        &::after{
            display: inline-block;
            content: "";
            background-color: $secondary;
            height: 1.5px;
            width: 100%;
            position: absolute;
            bottom: 0;
        }
}




//螢幕768px以下
@include media-breakpoint-down(md){
    .header-menu--left{
        display: none;
    }
    .header-hamburger-menu{
        display: block;
    }
    .header-menu--right{
        .search-icon,.wish-icon,.login-icon{
            display: none;
        }
    }
    

}